*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #F5F5F5;
}

header{
    height: 100px;
}

.container__header{
    max-width: 1200px;
    height: 100%;
    margin: 10px;
    padding: 10px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 120px;
}


.menu nav ul{
    display: flex;
}

.menu nav ul li {
    list-style: none;
    padding: 0 20px;
}


.menu nav ul li a{
    font-size: 16px;
    text-decoration: none;
    color: #000;
    transition: opacity 300ms;
}


.menu nav ul li a:hover{
    opacity: 0.6;
}

.btn__header-register{
    padding: 14px 50px;
    border: 2px solid #CC6C77;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    transition: background, color, 300ms;
}


.btn__header-register:hover{
    padding: 14px 50px;
    border: none;
    background: #CC6C77;
    color: white;
    font-weight: 600;
}

/* PORTADA-COVER */


main{
    min-width: 1200px;
    padding: 40px;
    margin: 5px;
}

.cover{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}


.text__information-cover{
    width: 50%;
}

.text__information-cover h1{
    font-size: 60px;
    font-weight: bold;
}



.mascotas{
    margin-top: -70px;
    filter: drop-shadow(-6px 11px 4px rgba(0, 0, 0, 0.5));
}

.cian{
    position: absolute;
    width: 591px;
    height: 377px;
    left: 906px;
    top: 160px;
    background: #18B8B1;
    border-radius: 50%;
}

.search__space{
    width: 400px;
    height: 46px;
    background: #D9D9D9;
    border-radius: 10px;
    border: none;
}

input{
    padding-left: 35px;
}


.circle{
    position: absolute;
    width: 581px;
    height: 377px;
    left: -302px;
    top: 409px;
    background: #41076F;
    border-radius: 50%;
}